.Icon {
    font-size: 40px;
    transition: 0.4s all ease-in-out;
    color: #ffd75d;
    line-height: 1px;
    background: black;
    border-radius: 50px;
    padding: 7px;
    margin-right: 20px;
}