@import '../../assets/styles/mixins';

.hide {
    opacity: 0;
    height: 0;
}

.showContents {
    top: 0px;
    opacity: 1;
    transition: 1s all;
    width: auto;
}

.showMore {
    opacity: 1 !important;
    height: auto !important;    
    max-height: 550px !important;
    transition: 1s max-height !important;
}

.showModule {
    opacity: 1 !important;
    height: auto !important;    
    width: auto !important;
    transition: 1s all !important;

    .ratings {
        h4, .numbers, .hint {
            @extend .showContents;
            white-space: nowrap;
            @include mq('xs', 'max') {
                white-space: normal;
            }
        }        
        .h4 {
            transition: 2s all;
        }
        .numbers, .hint {
            transition: 2.2s all;
        }
    }

    @include mq('xs', 'max') {
        width: 90% !important;
    }
}